.main-font {
  font-family: "Avenir LT Pro", sans-serif;
}

@keyframes serviceAni {
  0% {
    /* color: initial; */
  }
  100% {
    color: blue !important;
    scale:1.1
    /* opacity: 0.55; */
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); */
  }
}

@keyframes dream11Ani {
  from {
    scale: 1.3
  }
  to {
    scale: 1.5
  }
}

#dream11Logo:hover{
  animation: dream11Ani 0.1s ease-in forwards;
}


.service-animation {
  border-radius: 11px;
}
.service-animation:hover{
  animation: serviceAni 0.1s ease-in forwards;

}

.home-services-content-item{
  transition: color 0.2s ease-in;
}


.home-services-content-item:hover {
  color: #00236a;
}

.home__banner {
  height: 88vh;
  clip-path: polygon(0 0, 100% 0, 100% 93%, 53% 93%, 50% 100%, 47% 93%, 0 93%);
  position: reltive;
}
.carousel-controls {
  z-index: 100;
}
.lowOpacity {
  width: 35%;
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 10;
}

ul {
  margin-bottom: 0;
}

.slick-slide {
  /* opacity: 0.7 !important; */
}
.slick-active .slick-slide {
  opacity: 0.2 !important;
}

.slick-slide {
  transform: scale(0.9);
}
section {
  width: 95%;
  margin: 72px auto;
}
.section-heading {
  font-family: Arial, Helvetica, sans-serif;

  color: #00236a;
  font-size: 22px;
  font-style: normal;
  font-weight: 550;
  line-height: 24px;
  border-bottom: 2px solid #00236a;
  width: fit-content;
  margin-bottom: 50px;
  padding: 2px 5px;
}
.section-heading-contact-us {
  color: #00236a;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-bottom: 2px solid #00236a;
  width: fit-content;
  margin-bottom: 20px;
  padding: 2px 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.home-desc {
  display: grid;
  margin-top: 35px;
  grid-template-columns: 1fr 1fr 1fr;
}

.banner-image {
  position: absolute;
  right: 1%;
  bottom: 30px;
  width: 35%;
  height: 523px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.banner-image-1 {
  position: absolute;
  left: -3%;
  bottom: 10px;
  width: 603px;
  height: 608px;
}

.home-desc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.home-desc-item:hover {
  animation: serviceAni 0.1s ease-in forwards;
}

.home-desc-item img {
  margin-right: 20px;
  width: 80px;
}

.home-desc-item-text h4 {
  font-weight: 700;
  /* padding-bottom: 3px; */
  font-size: 24px;
}

.home-desc-item-text p {
  font-family: "Avenir LT Pro", sans-serif;
  line-height: 24px;
  width: 340px;
  font-size: 18px;
  font-weight: 400;
}

.home-client {
  /* width: 1300px; */

  padding-top: 20px;
  padding-bottom: 20px;
}

.home-client-item {
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.carousel-inner-div {
  width: 100%;
}

.home-client-header p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #00236a;
  letter-spacing: 0em;
  margin-left: 70px;
  margin-bottom: 3px;
}

/* <!-- home services content style here dev.nur--> */

.home-services-content-header {
  margin-bottom: 33px;
  margin-left: 10px;
}
.home-services-content-header p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0em;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 11px;
}
.service-heading-line {
  background-color: #00236a;
  height: 3px;
  width: 140px;
}

.home-services-content-item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  /* display: grid;
  grid-template-columns: repeat(5,minmax(180px,1fr));
  gap: 20px;
  align-items: end;
  justify-content: space-evenly;
  justify-items: center; */
}
.home-services-content-item {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
}
.heading {
  font-family: "Avenir LT Pro", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.home-services-content-item .heading {
  font-family: "Avenir LT Pro", sans-serif;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.2px;
}

.home-services-content-item img {
  width: 80px;
  height: 80px;
  margin-top: 32px;
}

/* <!-- home services content style ends here --> */

.home-client-Ciletele-header {
  margin-bottom: 26px;
}

.home-client-Ciletele-header p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #00236a;
  letter-spacing: 0em;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 2px;
}

.custom-border {
  background-color: #00236a;
  padding: 1px;
  width: 110px;
  margin-top: 2px;
  margin-left: 60px;
}

.custom-border-Ciletele {
  background-color: #00236a;
  padding: 1px;
  width: 120px;
}

.home-client-header {
  margin-bottom: 33px;
}

.home-client-Ciletele-header {
  margin-bottom: 33px;

  margin-bottom: 25px;
}

.home-client-contact {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.home-clientcontact-image img {
  width: 650px;
  height: 400px;
  object-fit: contain;
  text-align: center;
  border-radius: 10px;
}

.home-contact-btn {
  color: white;
  text-decoration: none;
}

.home-client-contact-header {
  margin-top: 10px;
}

.home-client-contact-header p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #00236a;
  letter-spacing: 0em;
  margin-left: 19px;
  margin-bottom: 3px;
}

.custom-border-contact {
  background-color: #00236a;
  height: 3px;
  width: 98px;
  text-align: left;

  /* transform: translateY(10%); */
}

.home-client-contact-details h1 {
  padding-top: 10px;
  /* padding-bottom: 20px; */
  font-size: 45px;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  width: 414px;
  /* height: 126px; */
  /* margin-bottom: -52px; */
}

.home-client-contact-details > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  width: 387px;
  height: 24px;
}

.home-client-contact-details {
  height: 100%;
}

.home-client-contact-details button {
  margin-top: 40px;
}

.carousel-heading {
  width: 95%;
  margin: 0 auto;
  padding: 2px;
}

.carousel-slick {
  position: relative;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
}

.carousel-controls-child:focus-visible {
  background-color: red;
}

/* .carousel-controls:focus { */
/* border: 1px solid red; */
/* } */

.home-carousel-item {
  background-color: #f0f0f0;
  width: 395px !important;
  margin: auto;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 400px;
  padding-left: 30px;
  transition: ease 300ms;
  border-radius: 10px;
}

.change {
  transform: skew(-7deg, 8deg);
  transition: ease 300ms;
}

.reverse {
  transform: skew(6deg, -8deg);
  transition: ease 300ms;
}

.carousel-slick .slick-slide {
  opacity: 0.5;
}

.carousel-slick .slick-active {
  opacity: 1;
}

.mobile-dark-background {
  display: none;
}

.carousel-slick-container {
  background: rgba(255, 255, 255, 0.5);
  position: relative;
}

.home-carousel-image {
  padding-top: 10px;
  display: flex;
}

.home-carousel-image img {
  width: 21px;
  margin-right: 7px;
}

.home-carousel-text {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
}

.home-carousel-text p {
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.5px;
  height: 140px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.home-carousel-footer {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.home-carousel-footer img {
  margin-right: 8px;
  width: 50px;
  height: 50px;
}

.home-carousel-footer-text-main {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  margin-top: 5px;
  margin-bottom: -5px;
  color: #000000;
}

.home-carousel-footer-text-sub {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.carousel-contact-item p {
  width: 50%;
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  margin: auto;
}

.x-icon-client {
  position: absolute;
  z-index: 50;
  cursor: pointer;
  top: 30px;
  right: 40px;
}
.home-client-item img {
  filter: grayscale(100%);
  width: 297px;
  height: 120px;
  object-fit: contain;
  transition: ease 400ms;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 20px;
  border-radius: 10px;
  /* border: 1px solid; */
}
.home-client-item img:hover {
  filter: grayscale(0);
  /* transform: scale(1.01); */
  animation: serviceAni 0.1s ease-in forwards;
}
.brand {
  width: 297px;
  height: 120px;
  background-color: white;
  position: relative;
}

.brand img {
  /* width: 210px; */
  height: 120px;
  filter: grayscale(100%);
  transition: ease 400ms;
  object-fit: contain;
}

.brand img:hover {
  filter: grayscale(0);
  transform: scale(1.01);
}

.brand2 {
  width: 297px;
  height: 110px;
  background-color: white;
}
.brand2 img {
  /* width: 252px; */
  height: 61px;
  filter: grayscale(100%);
  transition: ease 400ms;
}
.brand2 img:hover {
  filter: grayscale(0);
  transform: scale(1.01);
}
.brand3 {
  width: 297px;
  height: 110px;
  background-color: white;
}

.brand3 img {
  /* width: 180px; */
  height: 100px;
  filter: grayscale(100%);
  transition: ease 400ms;
}
.brand3 img:hover {
  filter: grayscale(0);
  transform: scale(1.01);
}
.brand4 {
  width: 297px;
  height: 120px;
  background-color: white;
}
.brand4 img {
  width: 180px;
  height: 100px;
  filter: grayscale(100%);
  transition: ease 400ms;
}

.brand4 img:hover {
  filter: grayscale(0);
  transform: scale(1.01);
}
.brand5 {
  width: 297px;
  height: 120px;
  background-color: white;
}
.brand5 img {
  width: 212px;
  height: 61px;
  filter: grayscale(100%);
  transition: ease 400ms;
}
.brand5 img:hover {
  filter: grayscale(0);
  transform: scale(1.01);
}
.brand6 {
  width: 297px;
  height: 120px;
  background-color: white;
}
.brand6 img {
  width: 126px;
  height: 93px;
  filter: grayscale(100%);
  transition: ease 400ms;
}

.brand6 img:hover {
  filter: grayscale(0);
  transform: scale(1.01);
}
.brand7 {
  width: 280px;
  height: 110px;
  background-color: white;
}
.brand7 img {
  width: 297x;
  height: 71px;
  filter: grayscale(100%);
  transition: ease 400ms;
}
.brand7 img:hover {
  filter: grayscale(0);
  transform: scale(1.01);
}
.brand8 {
  width: 297px;
  height: 120px;
  background-color: white;
  object-fit: contain;
}
.brand8 img {
  width: 220px;
  height: 85px;
  filter: grayscale(100%);
  transition: ease 400ms;
}
.brand8 img:hover {
  filter: grayscale(0);
  transform: scale(1.01);
}
.chevron-icon {
  width: 30px;
  font-size: 40px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.home-banner-title {
  font-weight: 750;
  line-height: 50px;
  text-align: center;
  font-size: 60px;
  position: relative;
  /* top: 7px; */
}
.home-client-item img {
  transform: scale(0.78);
}

.home-banner-content {
  text-align: center;
  font-size: 65px;
  font-weight: 750;
  position: relative;
  bottom: 3px;
}

.home-banner-sub-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  font-size: 30px;
  font-weight: 500;
  /* margin-top: 3px; */
  font-family: "Avenir LT Pro Light" Arial, Helvetica, sans-serif;
}

.home-banner-about-button {
  text-decoration: none;
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 20px 36px;
  border-radius: 51px;
  background-color: #fff;
  color: #00236a !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 701;
  line-height: 100%; /* 32px */
  letter-spacing: -0.64px;
  margin: 25px auto;
  transform: scale(0.9);
  /* font-weight: 700; */
}

.home-banner-about-button:hover{
  background-color: #00236a;
  color: #FFFF!important;
}

.mobile-dark-background {
  position: absolute;
  background-color: red;
  top: 0;
  left: 0;
  width: 800px;
  z-index: 50;
}

.banner-mobile-image-container {
  display: none;
}

.mobile-client-contact-header {
  display: none;
}

/* Media Queries */

@media (max-width: 1300px) {
  .home-client-item div img {
    text-align: center;
    /* width: 90px; */
  }
  .lowOpacity {
    display: none;
  }
  .home-client-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.banner-home {
  padding-top: 150px;
  background: linear-gradient(
    90.35deg,
    #00236a 0.18%,
    rgba(0, 35, 106, 0.73) 94.39%
  );
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    60% 100%,
    50% 100%,
    40% 100%,
    0 100%
  );
}

@media (max-width: 1250px) {
  .home-desc-item img {
    width: 60px;
  }
  .home-desc-item-text p {
    font-size: 14px;
    width: 90%;
  }
  .banner-image {
    width: 400px;
    height: 500px;
    bottom: 30px;
    right: 3%;
  }
  .banner-image-1 {
    width: 400px;
    height: 550px;
    left: -6%;
  }
}
.mobile-header-btn {
  margin-top: 45px;
}
@media (max-width: 1100px) {
  .banner-box-about {
    overflow-y: hidden;
  }

  .home-desc {
    /* grid-template-columns: 1fr; */
    width: 90%;
    margin: auto;
    margin-top: -20px;
    align-items: center;
    overflow-x: hidden;
  }

  .home-desc-item {
    justify-content: center;
    align-self: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 80px;
  }

  .home-desc-item-text h4 {
    font-size: 22px;
    /* margin-bottom: 0px; */
  }

  .home-desc-item-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    width: 90%;
    font-stretch: expanded;
  }

  .home-client-item {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .home-client-item img {
    height: 100%;
    width: 100%;
  }
  .mobile-home-client-item {
    padding-top: 20px;
  }

  .home-carousel-item {
    width: 350px !important;
  }

  .home-carousel-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    /* line-height: 35px; */
    text-transform: capitalize;
    color: #000000;
  }

  .home-client-contact {
    grid-template-columns: 1fr;
    margin-top: 20px;
    gap: 40px;
  }

  .home-client-contact-details {
    width: 80%;
    margin-top: 0;
    /* padding-bottom: 10px; */
  }

  .home-client-contact-details h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    width: 240px;
    text-align: left;
  }

  .home-client-contact-details > p {
    font-size: 14px;
    /* margin-bottom: -30px; */
  }

  .home-desc-item-text {
    /* width: 100%; */
    font-size: 12px;
  }

  .home-desc-item img {
    width: 60px;
    margin-right: 8%;
  }

  .home-banner-title {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
    /* padding-bottom: 160px; */
  }
  .home-banner-content {
    text-align: center;
    font-size: 20px;
    width: 100%;
    margin: auto;
  }

  .home-clientcontact-image {
    text-align: left;
    width: 100%;
    margin: auto;
    /* margin-left: -30px; */
  }

  .header-btn {
    display: block;
    width: 142px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  .banner-box-about {
    overflow-x: hidden;
  }

  .custom-border {
    margin-left: 8px;
  }

  .home-client-header p {
    margin-left: 26px;
  }

  .home-client-contact-details > p {
    font-size: 14px;
    width: 248px;
    height: 44px;
    margin-bottom: -15px;
  }
}

@media (max-width: 800px) {
  .home-client-item {
    padding: 0 20px;
    gap: 15px;
  }
  .home__banner {
    height: 105vh;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 93%,
      63% 93%,
      50% 100%,
      37% 93%,
      0 93%
    );
  }

  .home-banner-title {
    transform: translateY(50%);
    margin-bottom: 30px;
  }
  /* .home-banner-content {
    transform: translateY(53%);
  } */
  .change {
    transform: none;
    transition: ease 300ms;
  }

  .reverse {
    transform: none;
    transition: ease 300ms;
  }
  .home-carousel-text p {
    font-size: 22px;
    /* line-height: 35px; */
  }
  .home-desc {
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
    margin-top: -20px;
    align-items: center;
    overflow-x: hidden;
    /* transform: translateX(16%); */
  }
  .home-clientcontact-image img {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }
  /* .slick-track {
    overflow-x: hidden !important;
  } */

  /* .home-services-content {
    width: 800px;
    margin: auto;
  } */
}

@media (max-width: 600px) {
  .home-carousel-image img {
    width: 15px;
    height: 25px;
  }

  .home-desc {
    width: 95%;
    transform: translateX(0);
    margin-left: 20px;
  }

  .slick-dots {
    margin-top: 10px;
  }

  .carousel-controls {
    display: none;
  }

  .home-client {
    margin-top: 50px;
  }

  .home-client-contact-details > p {
    width: 260px;
    margin-bottom: 40px;
  }

  .carousel-slick {
    padding-top: 0;
  }

  .carousel-slick-container {
    height: 440px;
  }

  .banner-image-container {
    display: none;
  }

  .slick-active {
    /* padding-top: 10px; */
    transition: ease 600ms;
  }

  .banner-mobile-image-container {
    display: block;
  }

  .banner-image-1-mobile {
    position: absolute;
    right: 28px;
    bottom: 60px;
    width: 179px;
    height: 212px;
  }

  .banner-image-mobile {
    position: absolute;
    left: -30px;
    bottom: 85px;
    width: 299px;
    height: 289px;
  }

  .home-clientcontact-image {
    text-align: center;
    height: 200px;
  }

  .slick-dots li button:before {
    font-size: 8px;
  }
  .mobile-client-contact-header {
    margin-top: 20px;
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 25px;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  /* .home-client-contact-details h1 {
   
  } */
  .home-client-Ciletele-header {
    margin-left: 10px;
  }
  .home-client-header {
    margin-left: 10px;
  }

  .home-client-contact-header {
    margin-left: -10px;
  }

  .home-client-contact-details {
    /* margin-left: -15px */
    width: 100%;
  }
  .custom-border-contact {
    margin-left: 4.5%;
  }
  /* .home-services-content {
    width: 600px;
    margin: auto;
  } */
}

@media (max-width: 550px) {
  .home-client {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* .home-banner-sub-content, .home-banner-about-button{
    display: none;
  } */

  /* .banner__background__text{
    top:25%
  } */

  .home-client-contact-header p {
    margin-left: 30px;
  }

  .brand {
    width: 138px;
    height: 64px;
    background-color: white;
    padding: 9px 0px;
  }
  .brand img {
    width: 138px;
    height: 64px;
  }
  .brand2 {
    width: 138px;
    height: 64px;
    background-color: white;
    padding-top: 30px;
  }

  .brand2 img {
    width: 100px;
    height: 24px;
  }

  .brand3 {
    width: 138px;
    height: 64px;
    background-color: white;
    padding: 10px 0px;
  }
  .brand3 img {
    width: 110px;
    height: 48px;
  }
  .brand4 {
    width: 138px;
    height: 64px;
    background-color: white;
    padding: 10px 0px;
  }
  .brand4 img {
    width: 78px;
    height: 47px;
  }
  .brand5 {
    width: 138px;
    height: 64px;
    background-color: white;
    padding: 10px 0px;
  }
  .brand5 img {
    width: 98px;
    height: 28px;
  }
  .brand6 {
    width: 138px;
    height: 64px;
    background-color: white;
    padding: 10px 0px;
  }
  .brand6 img {
    width: 68px;
    height: 50px;
  }
  .brand7 {
    width: 138px;
    height: 64px;
    background-color: white;
    padding: 10px 0px;
  }
  .brand7 img {
    width: 138px;
    height: 39px;
  }
  .brand8 {
    width: 138px;
    height: 64px;
    background-color: white;
    padding: 10px 0px;
  }
  .brand8 img {
    width: 88px;
    height: 23px;
  }
  .slick-active {
    width: 100%;
    margin: auto;
    margin-left: 0px;
    /* margin-right: 20px; */
  }
  /* .home-services-content {
    width: 500px;
    margin: auto;
  } */
}

@media (max-width: 400px) {
  .home-carousel-item {
    width: 93% !important;
  }
  .home-carousel-text p {
    font-size: 18px;
  }
  /* .home-services-content {
    width: 400px;
    margin: auto;
  } */
}
