/* skeleton  */
.skeleton {
  opacity: .7;
  border-radius: 15px;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

.skeleton-text-last-child {
  margin-bottom: 0;
  width: 80%;
}

.bannerS {
  width: 100%;
  height: 88vh;
  background-color: indigo;
  clip-path: polygon(0 0,100% 0,100% 93%,53% 93%,50% 100%,47% 93%,0 93%);
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}



/* .footer {
  display: none;
  position: absolute;
  bottom: 0;
} */

.preload__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
}

.preload__main {
  align-content: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
