.privacy__banner {
  height: 88vh;
  clip-path: polygon(0 0, 100% 0, 100% 93%, 53% 93%, 50% 100%, 47% 93%, 0 93%);
  position: relative;
}
.privacy__banner-title {
  font-weight: 750;
  font-size: 63px;
  line-height: 65px;
  margin-bottom: 15px;
  width: 760px;
  text-align: center;
  margin-top: 70px;
  text-transform: uppercase;
  font-size: 65px;
}
.privacy__content__container {
  background-color: #f0f0f0;
  width: 90%;
  margin: auto;
  padding: 20px 40px;
  margin-top: 60px;
  margin-bottom: 120px;
}

.privacy__title {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 63px;
  margin-bottom: 60px;
}

.privacy__content {
  margin-bottom: 60px;
}

.privacy__content__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.privacy__content__text {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.privacy__content__text p {
  height: 10px;
}

@media (max-width: 850px) {
    .privacy__content__text p {
  height: max-content
}
}

@media (max-width: 768px) {
  .privacy__banner {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 93%,
      63% 93%,
      50% 100%,
      37% 93%,
      0 93%
    );
  }
  .privacy__banner-title {
    width: 204px;
    text-align: center !important;
    margin: auto;
    font-size: 30px;
    line-height: 41px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  
}
